.item {
    grid-area: main;
    background: #fffefe;
    color: #050202;
    padding: 10px;
}

.button {
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.input {
    margin-left: 3px;
    /*padding: 10px;*/
    cursor: pointer;
}

.inputCheckbox {
   margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.aboutUsItem {
    margin-top: 10px;
}

.hr {
    width: 265px;
    margin-left: 5px;
}

.title {
    margin-top: 10px;
}