.itemInput {
background: #ffffff;
    color: #f6f5f5;
    margin-right: 10px;

}

.itemButton {
    background: #e3d1d1;
    color: #0a0404;
    border-radius: 100px;
    margin-left: 10px;
}

.pushButton {
    margin: 5px 10px ;
}

.todoList {
    /*text-align: left;*/
}