
.item {
    grid-area: footerL;
    background: #32cc3f;
    padding: 10px;

}

.itemRight {
    grid-area: footerR;
    padding: 10px;
    text-align: center;
    background: #ffa600;
}

.itemRight a{
    color: #f8f8f7;
    text-decoration: none;
}
a.active-footer {
    color: #9c1bd5;
    background: #26ce2e;

}