.item {
    grid-area: main;
    background: #ffffff;
    text-align: center;
}

.button {
    grid-area: main;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    color: white;
    background: #1a46bd;
    text-align: center;
}

.line {
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}