.Header {
    display: grid;
    grid-area: header;
    background: #32cc51;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.Header a{
    text-decoration: none;
    /*color: #002aff;*/
}
.active-link {
    color: #fffcfc;
    text-decoration: none;
}