.item {
    grid-area: main;
    background: #00ffbb;
    text-align: center;
    padding: 10px;
}

.x {
    background: #fff;
    padding: 18px 25px;
    border-radius: 20px;
    /*font-weight: 500;*/
    border: 0;
    /*outline: none;*/
    font-size: 22px;
    cursor: pointer;
    /*line-height: 23px;*/
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    /*transition: all 0.1s ease-in-out;*/
}

.times {
    text-align: center;
}

.button{
    border-radius: 15px;
}

.h1 {
    color: red;
}


