.item{

    grid-area: main;
    background: #fce1e1;
    padding: 10px;
    color: #110d06;
    text-align: center;
}


.input {
    background: #cdcdf6;
    color: #e0850f;
    border-radius: 15px;
}

.button {
    background: #002aff;
    color: white;
    border-radius: 15px;
}