.item{

    grid-area: main;
    background: #fffcfc;
    padding: 10px;
    color: #1bbe1b;
    text-align: center;
}


.input {
    background: #002aff;
    color: white;
}

.button {
    background: #002aff;
    color: white;
}