.item {
    display: grid;
    grid-template-areas:
            'b c';
    grid-auto-columns: 50% 50%;
    /*grid-auto-rows: 50% 50%;*/
    width: 1000px;
    /*background: rgba(253, 253, 253, 0.76);*/
    /*text-align: center;*/
    color: #070202;
    /*padding: 5px;*/
}

.post {
    grid-area: b;

}

.delete {
    margin-top: 50px;
    /*margin-left: 400px;*/
    border-radius: 5px;
    background: #f7f8f7;
}

.input {
    /*grid-area: c;*/
    background: #002aff;
    margin-top: 10px;
}

.hr {
    width: 1000px;
}

.r {
    grid-area: c;
    text-align: right;
    /*margin-top: 7px;*/
    /*margin-left: 400px;*/
    border-radius: 5px;
}

.like img{
    width: 20px;
    height: 20px;
}