.item {
    background: #ffa600;
    border-radius: 15px;
    width: 500px;
    height: 50px;
}

.result img {
    background: #ffdd00;
    width: 250px;
    height: 250px;
}

.button {
    background: #01ffe1;
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

.line {
    width: 500px;
    height: 2px;
    background: #060706;
}