.App {
  display: grid;
  grid-template-areas:
          'header header'
          'nav main'
          'footer footer ';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 15% 85%;
  /*height: 80px;*/
 width: 1300px;
  grid-gap: 5px;
  /*text-align: center;*/
  margin: 0 auto;
}
