.item {
    grid-area: main;
    background: #ff0101;
    color: #11f1f1;
    padding: 10px;
    text-decoration: none;
}

.item2 {
    grid-area: main;
    background: #2cf1da;
    color: #020909;
    padding: 10px;
    text-decoration: none;
}

