.itemOneLessons {
    /*display: grid;*/
    grid-area: main;
    background: #188d10;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

.hr {
    width: 500px;
    height: 2px;
    background-color: #11f1f1;
}

.itemOneLessons img {
    width: 100px;
    height: 100px;
}

