.item {
    grid-area: main;
    background: darkorchid;
    text-decoration: none;
    padding: 10px;
}

.button {
    border-radius: 5px;
    margin: 3px;
    color: #fefeff;
    background: #ee0f5d;
}

.buttonResult {
    border-radius: 5px;
    margin-left: 125px;
    color: #ffffff;
    background: #ee0f5d;
}

.styleResult {
    margin-left: 60px;
}

.correct {
    color: white;
}